body {
    font-family: Arial, sans-serif; /* Define a fonte principal e uma reserva sem serifa */
    background-color: #f5f5f5;    /* Define uma cor de fundo cinza claro para a página */
    color: #333;                  /* Define a cor padrão do texto (cinza grafite) */
    margin: 0;                    /* Remove as margens padrão do navegador nas bordas */
  }
  
  /* Estilização do topo do site */
  header {
    background-color: #2e7d32;    /* Define a cor de fundo verde escuro */
    color: white;                 /* Define a cor do texto como branco */
    padding: 15px;                /* Cria um espaço interno entre o texto e as bordas */
    text-align: center;           /* Centraliza o texto horizontalmente */
  }
  
  /* Bloco central que contém as informações */
  main {
    max-width: 700px;             /* Limita a largura do bloco a 700 pixels */
    margin: 30px auto;            /* 30px de espaço no topo e 30 px de espaço no fundo e centraliza nas laterais */
    padding: 20px;                /* Espaçamento interno para o conteúdo não colar nas bordas */
    background: white;            /* Cor de fundo branca para destacar o conteúdo */
  }
  
  /* Ajustes da foto do animal */
  .animal-image {
    width: 100%;                  /* Faz a imagem ocupar toda a largura do container pai */
    height: auto;                 /* Mantém a proporção da altura automaticamente */
  }
  
  /* Estilo para o título/nome do animal */
  .animal-name {
    margin-top: center;             /* Adiciona um espaço acima do nome */
    font-size: 28px;              /* Define o tamanho da fonte */
  }
